@media (min-width: 992px) {
    .rounded-lg-3 {
        border-radius: .3rem;
    }
}

body {
    background-color: #D9D9D9;
}

.form {
   	margin: 4vh 9vw;
    background-color: #fff;
    border-radius: 10px;
}

/* FOTO */
.photo-upload {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #ccc;
}
.photo-preview {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.btn-remove-photo {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

.form-text{
    border: solid 1px #ccc;
    border-radius: 10px;
}

