.boxes {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.info {
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 20px;
}

.b-box {
    background-color: rgb(13, 110, 253, 0.15);
    border-radius: 10px;
}