.container {
    height: 100vh; /* Altura completa da janela */
    width: 100vw;
}

.boxes{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* Permite que os boxes cresçam igualmente */
    flex-basis: 0; /* Garante que todos os boxes cresçam de forma igual */
}